<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>The scope of the tests</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSSliderSpecifier</string>
			<key>Key</key>
			<string>slider_scope_test</string>
			<key>Title</key>
			<string>TYYYtul</string>
			<key>DefaultValue</key>
			<integer>2</integer>
			<key>MinimumValue</key>
			<integer>0</integer>
			<key>MaximumValue</key>
			<integer>10</integer>
			<key>MinimumValueImage</key>
			<string></string>
			<key>MaximumValueImage</key>
			<string></string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSGroupSpecifier</string>
			<key>Title</key>
			<string>Repeat mode</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Learning</string>
			<key>Key</key>
			<string>repeat_mode_key2</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Repeat</string>
			<key>Key</key>
			<string>repeating material_key</string>
			<key>DefaultValue</key>
			<false/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Repeat range</string>
			<key>Key</key>
			<string>ragne_a_key</string>
			<key>DefaultValue</key>
			<string>ragne_a</string>
			<key>Titles</key>
			<array>
				<string>No repetitions</string>
				<string>Only wrong answers</string>
				<string>75% wrong, 25% right</string>
				<string>50% wrong, 50% right</string>
			</array>
			<key>Values</key>
			<array>
				<string>ragne_a</string>
				<string>ragne_b</string>
				<string>ragne_c</string>
				<string>ragne_d</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Dividing the test into parts</string>
			<key>Key</key>
			<string>split_key</string>
			<key>DefaultValue</key>
			<string>split_a</string>
			<key>Titles</key>
			<array>
				<string>No split</string>
				<string>Groups of 10 questions</string>
				<string>Groups of 30 questions</string>
				<string>Groups of 100 questions</string>
				<string>Groups of 300 questions</string>
				<string>Groups of 900 questions</string>
			</array>
			<key>Values</key>
			<array>
				<string>split_a</string>
				<string>split_b</string>
				<string>split_c</string>
				<string>split_d</string>
				<string>split_e</string>
				<string>split_f</string>
			</array>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Title</key>
			<string>Repetition Percentage</string>
			<key>Key</key>
			<string>percen_repeat_key</string>
			<key>DefaultValue</key>
			<string>percent_b</string>
			<key>Titles</key>
			<array>
				<string>5 % of all</string>
				<string>10 % of all</string>
				<string>15 % of all</string>
				<string>20 % of all</string>
				<string>25 % of all</string>
				<string>30 % of all</string>
			</array>
			<key>Values</key>
			<array>
				<string>percent_a</string>
				<string>percent_b</string>
				<string>percent_c</string>
				<string>percent_d</string>
				<string>percent_e</string>
				<string>percent_f</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
